textarea {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    resize: none;
    border: 1px solid lightgrey;
    height: 75vh;
    width: 40vw;
    color: grey;
}

textarea:focus {
    outline: 2px solid var(--primary);
    border: 1px solid transparent;
    color: var(--black-text);
}

#container {
    display: flex;
    flex-direction: column;
}

#editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#textarea-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#markdown-preview {
    overflow: scroll;
    padding: 0 0.5vw;
    height: 75vh;
    width: 40vw;
    font-family: 'Inter Variable';
    border: 1px solid lightgrey;
}