<div id="container">
    <div id="demo">
        <div id="demo-content">
            <pre><code>
### Marky
The only markdown editor  
you need.
</code></pre>
        </div>
        <div id="demo-preview" [innerHTML]="markdownProcessor.getHTML('### Marky\nThe only markdown editor you need.')">
        </div>
    </div>
    <div id="file-selector">
        <div id="create-new" class="file-selector" (click)="createFile()">
            <img style="height: 3em;" src="assets/images/basic_upload.svg">
            <p class="primary-text">Create new file</p>
            <input id="file-input" type="file" style="display: none" accept=".md">
        </div>
        <div id="load-existing" class="file-selector" (click)="loadFile()">
            <img style="height: 3em;" src="assets/images/arrows_circle_plus.svg">
            <p class="primary-text">Open existing file</p>
        </div>
    </div>
</div>